.hc_table {
	width: 100%;
	border-collapse: collapse;
	.hc_rowmark{
		background: #f2f2f2!important;
	}
	.hc_colmark{
		background: #f7f7f7;
		color:#000;
		input[type="text"]{
			color:#000;
		}
	}
	th, td{
		border:1px solid #333!important;
		vertical-align: middle!important;
		position: relative;
	}
	td{
		height: 40px;
		line-height: 40px;
	}
	input[type="text"]{
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		border: none;
		background: rgba(255,255,255,0);
	}
}